<%- include('./partials/dashboard-header') -%>

<div class="dashboard-container">
	<div class="head">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="30"
			height="30"
			fill="currentColor"
			class="bi bi-person-fill"
			viewBox="0 0 16 16"
		>
			<path
				d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
			/>
		</svg>
		<p class="welcome-msg">Welcome <%=name %></p>
		<a href="/users/logout" class="btn btn-primary"
			><i class="fas fa-sign-out-alt"></i> Logout</a
		>
	</div>
	<div class="content">
		<div class="left">
			<ul>
				<li>
					<a href="/dashboard"><i class="fas fa-home"></i> Home</a>
				</li>
				<li>
					<a href="/users/tests/<%=name%>"
						><i class="fas fa-folder-open"></i> Your Quizes</a
					>
				</li>
				<li>
					<a href="/users/custom/<%=name%>"
						><i class="fas fa-tools"></i> Custom Quiz</a
					>
				</li>
				<li>
					<a href="/users/result/<%=name%>"
						><i class="fas fa-trophy"></i> Result</a
					>
				</li>
			</ul>
			<div>
				<p>Logged in as :</p>
				<p style="font-size: 1.7rem"><%=name%></p>
			</div>
		</div>
		<div class="right">
			<div class="viewTest">
				<div class="view-test-details">
					<h4><i class="fas fa-user"></i>&ensp;Name : <%=testData.name%></h4>
					<h4>
						<i class="fas fa-envelope"></i>&ensp;Email : <%=testData.email%>
					</h4>
					<h4 style="font-size: 1.2rem">
						<i class="fas fa-file-alt"></i>&ensp;Test Name :
						<%=testData.testName%>
					</h4>
					<h4 style="font-size: 1.2rem">
						<i class="fas fa-key"></i> Test Code : <%=testData.testCode%>
					</h4>
				</div>

				<% let i = 1%> <% let j = 1%>

				<div class="all-que">
					<% questionsData.forEach((que)=>{ %>

					<div class="questions">
						<br />
						<h5 style="font-weight: bold">(<%=i%>) <%=que.question%></h5>
						<% if( que.answers.answer_c !== null && que.answers.answer_d !==
						null ){ %>
						<p>A. &nbsp;&nbsp;&nbsp;<%= que.answers.answer_a%></p>
						<p>B. &nbsp;&nbsp;&nbsp;<%= que.answers.answer_b%></p>
						<p>C. &nbsp;&nbsp;&nbsp;<%= que.answers.answer_c%></p>
						<p>D. &nbsp;&nbsp;&nbsp;<%= que.answers.answer_d%></p>
						<br />
						<h6 style="color: #63a4ff; font-weight: bold">
							Correct Answer : <%=que.correct_answer%>
						</h6>
						<% } else{ %>
						<p>A. &nbsp;&nbsp;&nbsp;<%= que.answers.answer_a%></p>
						<p>B. &nbsp;&nbsp;&nbsp;<%= que.answers.answer_b%></p>
						<br />
						<h6 style="color: #63a4ff; font-weight: bold">
							Correct Answer : <%=que.correct_answer%>
						</h6>
						<% }%>
					</div>
					<br />
					<%i++%> <% }) %>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/dashboard-footer') -%>
